<!-- 
This launch file is for convenience to launch both uvc_camera_stereo.launch
to publish images from the cameras, and stereo.launch which runs the stereo_image_proc
node for actual stereo vision.
-->

<launch>
  <!-- publish camera feed -->
  <include file="$(find argus_vision)/launch/uvc_camera_stereo.launch" >
  </include>

  <!-- publish disparity image and point cloud -->
  <include file="$(find argus_vision)/launch/stereo.launch" >
  </include>
</launch>
